<%= content_for(:title, "Update Line | Bus Timetables") %>

<%= render("layouts/errors", :object => @line) %>

<%= form_for(@line) do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <%= f.submit(:class => "btn btn-primary") %>
<% end %>
